html{
	--content-width: auto;
}
*{
	box-sizing: border-box;
}
#logo-baidu {
    background-repeat: no-repeat;
    bottom: var(--logo-margin-bottom);
    height: 92px;
    left: calc(50% - 272px/2);
    position: absolute;
    width: 272px;
    background: url('../images/baidu.svg') no-repeat;
    background-size: 100%;
    transition: background 700ms;
}
#logo-baidu.skin {
    background: var(--logo-color);
    -webkit-mask-image: url('../images/baidu.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
#search-baidu {
	position: relative;
	text-align: left;
	/*width: 640px;*/
    transition: opacity 350ms ease-in-out;
}
#search-baidu *{
    box-sizing: content-box;
}
#search-baidu.skin{
    font: 12px arial !important;
}
#search-baidu input[type="text"]{
    position: relative;
	float: right;
    padding: 10px 9px 10px 7px;
    width: 520px;
    height: 18px;
    border: 1px solid #b6b6b6;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    border-right-width: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    overflow: hidden;
    outline: none;
    font: 16px arial;
    line-height: 20px;
}
#search-baidu.skin input[type="text"]{
    width: 521px;
    height: 20px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
#search-baidu input[type="text"]:focus{
    border-color: #4791ff;
}
#search-baidu input[type="submit"]{
    position: relative;
	float: right;
    border: 0;
    padding: 0;
    width: 104px;
    height: 39px;
    cursor: pointer;
    color: #fff;
    font: 16px arial;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    border-radius: 0;
    background-position: -206px 0;
}
#search-baidu.skin input[type="submit"]{
    width: 104px;
    height: 40px;
    line-height: 40px;
    color: #000;
    border: none;
    background-image: url(https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/skin_dark-48fa9dbf5c.png);
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
#search-baidu .bdsug{
    /* display: none; */
    position: absolute;
    width: 535px;
    height: auto;
    top: 39px;
    background: #fff;
    border: 1px solid #ccc!important;
    box-shadow: 1px 1px 3px #ededed;
    box-shadow: 1px 1px 3px #ededed;
}
#search-baidu .bdsug ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#search-baidu .bdsug li{
    width: 519px;
    color: #000;
    margin: 0;
    padding: 0;
    font: 14px arial;
    line-height: 25px;
    padding: 0 8px;
    position: relative;
    cursor: default;
}
#search-baidu .bdsug li.bdsug-s{
    background-color: #f0f0f0;
}